* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a1717;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-flow: column wrap;
  width: 100%;

  }
  

.fotoNav {
  width: 15vmax;
  margin: 0;
  padding: 0;
}

.navCarrito {
  display: flex;
  flex-flow: row wrap;
}

.spanCantidad {
  border-radius: 50%;
  color: white;
  background-color: rgb(120, 16, 16);
  font-size: 1vmax;
  padding: 0.5vmax;

}

.bi-cart2 {
  font-size: 1vmax;
} 

.navMonto {
  margin: 1vmax;
}

header {
  height:40vmax;
  background-image: url(imagenes/fondoHeader.png);
  background-position: center center;
  background-size: cover;
  padding-top: 10vmax;

}

.titulosHeader {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.titulosHeader span {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 2vmax;
}

.titulosHeader h1 {
  font-weight: bold;
  font-size: 8vmax;
  line-height: 0.8;
 /*  text-align: left; */
}

.titulosHeader h2 {
  font-size: 1.5vmax;
  font-weight: bold;
}

.divImgHeader img {
  width: 50vmax;
  filter: drop-shadow(12px 3px 8px rgba(0, 0, 0, 0.665));
}

.container2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 6rem 3rem;

}

h1, h2 {
  margin: 3vmax 5vmax;
  text-align: center;
}

.carrito {
  display: flex;
  flex-direction: column;
}

.productos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
  box-shadow: 3px 3px 9px 1px rgba(110, 105, 105, 0.655);
}

.fotozapa {
  width: 16vmax;
  height: 16vmax;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.fotoCarrito {
  width: 4vmax;
  height: 4vmax;
  border-radius: 3px;
  margin: 0.5vmax;
}

.item-carrito {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
} 

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 6px;
}

button:hover {
  background-color: #0056b3;
}

.total-margin {
  margin-top: 20px; 
}


.pieDePagina {
  background-color: black;
  /* height: 35vmax; */
  width: 100%;
}

.columnaLogoFooter {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.logoFooter {
  width: 20vmax;
  margin: 5vmax;
 
}

.textosFooter {
  color: white;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
} 

.rowFooter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

}

.derechos {
  margin-bottom: 1vmax;
}